::-webkit-scrollbar {
  width: 20px;
		}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4.5px red; 
  border-radius: 2px;
		}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 5px;
		}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255,0,0); 
		}

::-webkit-scrollbar-button:vertical:decrement {
	border-style: solid;
	height: 22px;
	width: 22px;
	border-color: transparent transparent red red;
	border-radius: 3px;
	
}

::-webkit-scrollbar-button:vertical:increment {
	border-style: solid;
	height: 22px;
	width: 22px;
	border-color: red red transparent transparent;
	border-radius: 3px;
}
