@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

			.navbar {
				font-family: 'Share Tech Mono', monospace;
				overflow: hidden;
				background-color: black;
			}

			.navbar a {
			 float: left;
  		 color: white;
 			 text-align: center;
 			 padding: 14px 16px;
 			 text-decoration: none;
 			 font-size: 17px;
			}
			
			.navbar a:hover {
 			  background-color: darkgray;
  			color: black;
			}

			.bigtxt1, .bigtxt2, .andtxt, .andtxt2 {
				font-family: 'Share Tech Mono', monospace;
			}

			.bigtxt1 {
				font-size: 2em;
			}

			.bigtxt2 {
				font-size: 1.5em;
			}

			.nmltxt{
				font-size: initial;
				font-family: initial;
			}

			.andtxt {
				font-size: 3.5em;
			}

			.andtxt2 {
				font-size: 2.6em;
			}

			p {
				margin: 0;
				padding: 0;
			}

			.andtxt2, .bigtxt2 {
				position: relative;
				left: 2.5%;
			}

			body {
				overflow: hidden;
			}